* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
    0deg,
    rgba(223, 255, 209, 1) 0%,
    rgba(154, 255, 147, 1) 100%
  );
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #132a13;
}

.cards-page {
  display: flex;
  flex-wrap: wrap;
}

img {
  max-width: 30px;
}
