.question-card {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  border-radius: 20px;
  margin: 0 auto 50px;
  height: 200px;
  min-width: 299px;
  max-width: 300px;
  background-color: #ecf39e;
  box-shadow: 1px 3px 5px #132a13;
}

.question-card__bookmark {
  position: absolute;
  top: -8px;
  right: 10px;
}
